.main-container {
  margin: 0 auto;
  max-width: 45rem;
}

.main-text{
  width: fit-content;
}

.site-content{
  
}

body {
  margin: 0;
  padding-inline: 1rem;
  background-color: rgb(16, 27, 41);
  color: white;
}

body a {
  color: white;
  text-decoration: none;
}

h1 {
  font-weight: bold;
}



.header-text {
  text-align: center;
}

.header-title {
  font-size: 2.5rem;
}

.header-title a, .header-title a:visited {
  text-decoration: none;
  color:white;
  text-transform: uppercase;
}

.header-navbar {
  display:flex;
  align-content: space-between;
  padding-block: 1.25rem;
  position: sticky;
  top: 0;
  background-color: rgb(16, 27, 41);
  width: 100%;
  flex-wrap: wrap;
}

.header-navbar::after {
  content:"";
  border-bottom: .125rem solid #5A5A5A;
  flex-basis: 100%;
}



.nav-list {
  list-style: none;
  padding: 0;
  display:flex
}

.navbar-right {
  margin-left: auto;
  margin-top: .75rem;
}

.nav-item {
  display:inline;
  margin-right: 1rem;
  text-transform: uppercase;
}

.nav-right {
  margin-right: 0;
  margin-left: 1rem;
}

.postPreview {
  color:white;
}



.inlineDiv {
  margin-bottom: 1rem;
}

.inlineDiv h2 {
  display:inline;
  vertical-align: top;
}

.inlineDiv text {
  font-size: .7rem;
  vertical-align: top;
}

.nowContainer p {
  margin-top: 0;
  margin-left: 1rem;
}

.nowContainer h3 {
  padding: 0;
  margin-block: .25rem;
}

.updated {
  color: rgb(138, 139, 139);
    font-size: 0.8rem;
    margin: auto;
    padding-top:1rem;
}

.notePreviewContainer{
  margin-bottom: 5rem;
  display:flex;
}

.notePreview h2 {
  margin-top: 0;
}

.imageContainer{
  height:min-content;
  margin-right: 1rem;
}

.noteInfo{


}

.noteContainer {
  display: flex;
}

.noteContainer h2 {
  margin: 0;
}

.noteContent {
  padding-top: 1rem;
  margin-bottom: 4rem;
}

hr {
  border: .05rem solid #5A5A5A
}

.libraryHeader {
  margin-bottom: 2rem;
}

.libraryHeader ul {
  padding:0;
  margin: 0;
}

.activeNav {
  text-decoration: underline;
}

.postPreviewContainer {
  margin-bottom: 2rem;
}

.postPreview h2 {
  margin-block: 0;
}
.postPreview p {
  margin-top: .5rem;
  margin-bottom: 0;
}
.postUnderline {
  margin-top: .5rem;
  color:#5A5A5A
}

.standFirst {
  color:darkgray
}




.smIcon {
  height: 1.5rem;
}

.frontPageList {
  margin-bottom: 0;
  margin-top: 0;
}

p.frontPageList {
  margin-top:1rem;
}

li.frontPageList {
  margin-top: .15rem;
}

.seeAllLink {
  margin-left: 1rem;
  color:#5A5A5A
}

.listColumnContainer {
  display:flex;
}

.blogPost a {
  color:cornflowerblue;
}